.contenedor {
  display: flex;
  height: 100%;
  gap: 0.8rem;
}

.image {
  width: 40%;
  display: flex;
}

.image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.contenido {
  line-height: 1.5;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

p {
  margin: 0;
  text-align: center;
}

.text-gray-principal {
  margin-top: 1.2rem;
  color: gray;
  margin-bottom: 0.2rem;
}

.location {
  margin-bottom: 1.2rem;
}

.text-gray {
  color: gray;
  margin-bottom: 0.2rem;
}

.status {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.bolita {
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  border: 2px solid transparent;
}

.alive {
  background-color: green;
  border-color: green;
}

.dead {
  background-color: red;
  border-color: red;
}

.unknown {
  background-color: grey;
  border-color: grey;
}
